
<link href="~/css/popupSS.css" rel="stylesheet" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="popupcontainer">
    <div class="popupsuccess">
        <img src="/img/Picture/404-tick.png"/>
        <h2>Thank You!</h2>
        <p>Voucher discount của bạn sẽ được apply cho đơn hàng gần nhất!</p>
        <button type="button">Ok</button>
    </div>
</div>
@* <script>
    window.setTimeout(function PopupSuccess() {
        if (getCookie('popupdiscount') == 'true') {
            // document.querySelector('.popupcontainer').style.display = 'flex';
            console.log("ok ne");
        }
    }, 1000);
</script> *@