@model AllLayout
@{
    ViewData["Title"] = "About Us Page";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<head>
    <link href="~/css/cartproductcheckout3.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/boostrap5v3CO2.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Thêm PyScript CSS -->
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />

    <!-- Thêm PyScript JS -->
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

</head>
<body>
    <py-script>
        <!--Có vẻ k được, vì thiếu thư viện cho python, tìm cách khác:
                1. chạy file VSC trên này.
        -->
    </py-script>
</body>
