@model AllLayout
<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- Start of Async Drift Code -->
<!-- End of Async Drift Code -->
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        Mew Nature of Mine
    </title>
    
    <meta name="description" content="">

    <meta name="keywords" content="Mew Nature, mew-nature.mysapo.net" />
    <link rel="canonical" href="https://mew-nature.mysapo.net/" />
    <meta name='revisit-after' content='1 days' />
    <meta name="robots" content="noodp,index,follow" />
    <link rel="shortcut icon" href="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/favicon.png?1676649124511" type="image/x-icon" />


    <meta property="og:type" content="website">
    <meta property="og:title" content="Mew Nature">
    <meta property="og:image" content="http://bizweb.dktcdn.net/100/364/767/themes/737174/assets/logo.png?1676649124511">
    <meta property="og:image:secure_url" content="https://bizweb.dktcdn.net/100/364/767/themes/737174/assets/logo.png?1676649124511">

    <meta property="og:description" content="">
    <meta property="og:url" content="https://mew-nature.mysapo.net/">
    <meta property="og:site_name" content="Mew Nature">

    <link rel="preload" as="style" type="text/css" href="~/bizweb.dktcdn.net/themes/bootstrap_css.scss.css">
    <link rel="preload" as="style" type="text/css" href="~/bizweb.dktcdn.net/themes/mewint_css.scss.css">
    <link rel="preload" as="style" type="text/css" href="~/bizweb.dktcdn.net/themes/owlcarousel.scss.css">
    
    <link href="~/bizweb.dktcdn.net/themes/bootstrap_css.scss.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/bizweb.dktcdn.net/themes/mewint_css.scss.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/bizweb.dktcdn.net/themes/owlcarousel.scss.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/bizweb.dktcdn.net/themes/blogmate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/bizweb.dktcdn.net/themes/collection.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/bizweb.dktcdn.net/themes/swatch.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/bizweb.dktcdn.net/themes/product.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/checkout.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="google-site-verification" content="zd_Xa5ClyjboUC5aAq7lD1vrD_o6PyS5kl828tsDDPY" />
    @await Html.PartialAsync("~/Views/Home/WebApp/Scripts.cshtml")
</head>
<body class="">
    
    <div class="page-body">
        <div class="hidden-md hidden-lg opacity_menu"></div>
        <div class="opacity_filter"></div>  
        <div class="body_opactiy"></div>
        
        @await Html.PartialAsync("~/Views/Home/WebApp/Header.cshtml", Model)
        <div class="container">
            @RenderBody()
        </div>
        @await Html.PartialAsync("~/Views/Home/WebApp/Footer.cshtml", Model)
        <!--RenderSection thêm false để sang trang khác--> 
         @await Html.PartialAsync("~/Views/Home/WebApp/Scripts2.cshtml")
    </div>
    <div>
        @await Html.PartialAsync("~/Views/Popup/Popup.cshtml", Model)
    </div>   
</body>

</html>
