@model AllLayout 
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Page</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!--Lỗi file jquery. Gõ kiếm lib bằng cdn ... tên thư viện đó-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    @await Html.PartialAsync("~/Views/Home/WebApp/Scripts.cshtml")
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @await Html.PartialAsync("~/Views/Sidebar/SideBar.cshtml", Model)
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" style="background-image: url(); background-repeat: no-repeat; background-size: cover;">
                @await Html.PartialAsync("~/Views/TopBar/TopBar.cshtml", Model)
                <div class="container-fluid" >
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    @*<script src="vendor/jquery.min.js"></script>*@
    <script> 
        function SortAdmin() { // chức năng tìm dựa theo tên trang. K cần chức năng controller
            var sortadmin = document.getElementById("sortadmin").value; // lấy giá trị từ ô tìm kiếm admin
            if (sortadmin != "") { // khac null
                sortadmin = sortadmin.replace(/\s+/g, '');// bỏ khoảng cách ở giữa => thành dính lại với nhau hết.
                window.location.href = "/" + sortadmin.toLowerCase(); // load trang theo tên
            }
            return;
        }
    </script>
    <script>
        function NoticeAdmin() {
            var pagename = document.getElementById('pagename').value;
            $.ajax({
                url: "Admin/NoticeAdminFunction",
                dataType: "text",
                type: "POST",
                data: {
                    pagename: pagename
                },
                cache: !1,
                success:
                    function (result) {
                        if (result == true) {
                            alert("Thành Công");
                            //window.location = 'https://localhost:7037/headeradmin?noti=' + encodeURIComponent(result.noti); // Nếu đúng thì chạy tiếp sang trang Admin
                        }
                        else {
                            alert("Thất bại");
                            //window.location = 'https://localhost:7037/headeradminedit'; // nếu false thì về lại trang login
                        }
                    }
            });
        }
    </script>
    @* <script src="vendor/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    @*<script src="vendor/jquery.slim.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script> *@
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>


    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="js/demo/datatables-demo.js"></script>

    <!--Summernote library-->
    @await RenderSectionAsync("Scripts", required: false)

    @* <script>
        function WebNameAdmin() {
            if (getCookie("idcookie") != "") {
                
            }
        }
        $(document).ready(function () {
            setTimeout("WebNameAdmin()", 500);
        });
    </script> *@
</body>
</html>
