@{
    ViewData["Title"] = "Header Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<body>
    <div>
        <h1> Thành công !!!</h1>
    </div>
    <script>
        function ReturnTablePage(){
            window.location.reload();
            window.location = "https://localhost:7037/headeradmin";
        }
        setTimeout(function(){
            ReturnTablePage();  
        }, 2000);
    </script>
</body>
